
.placeholder{
    color: #07245f;
    margin-top: 2%;
}
.container{
    background-image: url("../../img/Page1/Page2.jpg");
    background-position: top center;
    background-size: contain;
    background-attachment: fixed;
    position:relative;
    z-index: 1;
    width: 75%;
}
.menu{
    width: 75%;
    height: 100px;
    margin-left: 12%;
}
.footer{
    width: 75%;
    margin-left: 12%;
}
.h2{
    font-family: 'Roboto Condensed', sans-serif;
    color: #0A2D72;
    text-align: center;
}
h3{
    text-align: center;
    font-family: 'Roboto Condensed', sans-serif;
    color: #0A2D72;
}
h4{
    font-family: 'Roboto Condensed', sans-serif;
    color: #0A2D72;
}

.card{
    font-family: 'Roboto Condensed', sans-serif;
    width: 85%;
    font-size: 28px;
    margin-top: 1%;
}

.botones{
    display: flex;
    justify-content: center;
    
}

.adelante{
    position: absolute;
    top: 40%;
    transform: translateY(-90%);
    margin-left: 40%;
    font-size: 270%;
    color: #0A2D72;
    border: #fff;
}
.atras{
    position: absolute;
    top: 40%;
    transform: translateY(-90%);
    font-size: 270%;
    color: #0A2D72;
    margin-right: 85%;
}

.alert{
    font-size: 22px;
    text-align: center;
    width: 55%;
    margin-left: 25%;
    font-family: 'Roboto Condensed', sans-serif;
}


.botones2 {
    display: inline-block;
    padding: 10px 20px;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    color: #fff;
    background-color: #0A2D72;
    border: 2px solid #000;
    border-radius: 10px;
    box-shadow: 5px 5px 0px #000;
    transition: all 0.3s ease;
  }
  
  .botones2:hover {
    background-color: #fff;
    color: #f9b515;
    border: 2px solid #f9b515;
    box-shadow: 5px 5px 0px #f9b515;
  }
  
  .botones2:active {
    background-color: #fcf414;
    box-shadow: none;
    transform: translateY(4px);
  }
  

  .btns{
    margin-top: 10%;
    margin-left: 20%;
  }

  .titulo{
    font-family: 'Roboto Condensed', sans-serif;
    color: #ffffff;
    text-align: center;
  }

  
.card{
    display:flex;
    flex-direction:row;
    justify-content: space-around;
    width:330px;
    border: 1px solid lightgray;
    box-shadow: 2px 2px 8px 4px #a4c3ff;
    border-radius:15px;
    margin-left: 20%;
}

.card-text{
    font-family: 'Roboto Condensed', sans-serif;
    text-align: center;
    font-size: 26px;
}


.img1{
   margin-left: 5%;
}

.presentacion{
    position: absolute;
    top: 40%;
    transform: translateY(-90%);
    margin-left: 81%;
    font-size: 270%;
    color: #0A2D72;
    border: #fff;
}

