.placeholder{
    color: #f9b515;
    margin-top: 2%;
}
.container{
    background-image: url("../../img/Page4/fondop.jpg");
    background-position: top center;
    background-size: contain;
    background-attachment: fixed;
    position:relative;
    z-index: 1;
    overflow: hidden;
}
.boton{
    margin-left: 25%;
    font-size: 25px;
    width: 14%;
}
.menu{
    width: 80%;
    height: 100px;
    margin-left: 12%;
}
.footer{
    margin-top: 1%;
    width:80%;
    margin-left: 12%;
}
h2{
    font-family: 'Roboto Condensed', sans-serif;
    color: #0A2D72;
    margin-left: 80%;
}
h3{
    text-align: center;
    font-family: 'Roboto Condensed', sans-serif;
    color: #0A2D72;
}
h4{
    font-family: 'Roboto Condensed', sans-serif;
    color: #0A2D72;
}

.p{
    font-family: 'Roboto Condensed', sans-serif;
    color: #000000;
    font-size: 25px;
    background:  #a0c9ff;
}

.botones{
    display: flex;
    justify-content: center;
    
}

.adelante{
    position: absolute;
    top: 40%;
    transform: translateY(-60%);
    margin-left: 41%;
    font-size: 270%;
    color: #0A2D72;
    border: #fff;
  }
  
  .atras{
    position: absolute;
    top: 40%;
    transform: translateY(-90%);
    font-size: 270%;
    color: #0A2D72;
    margin-right: 85%;
  }
.alert{
    width: 55%;
    font-size: 25px;
    text-align: center;
    margin-left: 25%;
    font-family: 'Roboto Condensed', sans-serif;
}


.inicio{
  width: 100%;
  
}

.div-imagen {
  display:inline-block;
  position:relative;

 
}

.div-imagen > div {
  position:absolute;
  top:0;
  left:0;
  z-index:-1;
  padding:10px;
  margin:0;
  width: 80%;
}
.desvanecer{
  width: 85%;

}

.desvanecer:hover {
  opacity: 0.08;
  -webkit-transition: opacity 500ms;
  -moz-transition: opacity 500ms;
  -o-transition: opacity 500ms;
  -ms-transition: opacity 500ms;
  transition: opacity 500ms;
}